
<!doctype html>

<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
	<title>Trip Tokens</title>
  <meta name="description" content="Taxi Data for NYC">
  <meta name="author" content="Cass Schaufele">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/static/main.css">
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/dist/leaflet/leaflet.css" />
  <link rel="stylesheet" href="/static/dist/leaflet-draw/dist/leaflet.draw.css" />
  <!-- bootstrap jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://fb.me/react-0.13.3.min.js" async></script>
	<script src="https://fb.me/JSXTransformer-0.13.3.js" async></script>
  <script src="/static/dist/leaflet/leaflet-src.js"></script>
  <script src="/static/dist/leaflet-draw/dist/leaflet.draw-src.js"></script>
  <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <!-- Modal -->
<div id="barModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Passenger Count</h4>
      </div>
      <div class="modal-body">
        <div id = 'barChart'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="donutModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Passenger Count</h4>
      </div>
      <div class="modal-body">
        <div id = 'donutChart'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
	<div id="wrapper" ng-controller="mapView">
    <div id="map-layer">
      <div id="map">
      </div>
    </div>
    <div id="sideBar">
      <div class="date-time-picker">
      <table id="date-picker">
        <tr class="time-picker-row">
          <td class="time-arrow upper-left" ng-click="dateTimeIncre('MM')">
            ^
          </td>
          <td class="time-arrow" ng-click="dateTimeIncre('DD')">
            ^
          </td>
          <td class="time-arrow last-arrow upper-right bottom-right" ng-click="dateTimeIncre('YYYY')">
            ^
          </td>
        </tr>
        <tr class="time-picker-row">
            <td class="date-time-month">
              {[currentDateTime.MM]}
            </td>
            <td class="date-time-day">
              {[currentDateTime.DD]}
            </td>
            <td class="date-time-year">
              {[currentDateTime.YYYY]}
            </td>
        </tr>
        <tr class="time-picker-row">
          <td class="time-arrow u-flip upper-right" ng-click="dateTimeDecre('MM')">
            ^
          </td>
          <td class="time-arrow u-flip" ng-click="dateTimeDecre('DD')">
            ^
          </td>
          <td class="time-arrow last-arrow u-flip upper-left" ng-click="dateTimeDecre('YYYY')">
            ^
          </td>
        </tr>
      </table>
    </div>

      <div class="date-time-picker">
      <table id="time-picker">
        <tr class="time-picker-row">
            <td class="date-time-month upper-left">
              {[currentDateTime.hours]}
            </td>
            <td class="date-time-day">
              {[currentDateTime.minutes]}
            </td>
            <td class="date-time-year upper-right">
              {[currentDateTime.seconds]}
            </td>
        </tr>
        <tr class="time-picker-row">
          <td class="time-arrow  bottom-left" ng-click="rw();play=true">
            <i class="fa fa-backward"></i>
          </td>
          <td class="time-arrow">
            <i class="fa fa-play-circle" ng-show="!(play)" ng-click="startPlay(); play=true"></i>
            <i class="fa fa-pause" ng-show="play" ng-click="pausePlay(); play=false"></i>
          </td>
          <td class="time-arrow last-arrow bottom-right" ng-click="ff();play=true">
            <i class="fa fa-forward"></i>
          </td>
        </tr>
      </table>
    </div>
    <div>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#barModal">passenger bar</button>
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#donutModal">passenger donut</button>
    </div>
    </div>



      <div id="position-dashboard" class="dashboard-window">
        <div id="" class="dashboard-header">
          Collections
        </div>
        <div ng-repeat="collection in collections"  class="dashboard-body">
          <button class="delete-button" ng-click="deletePolygon(collection)"> delete </button>
          <div>
            <span>Name: </span>
            <span class="collection-name" contenteditable="true"></span>
          </div>
          <p> NE : {[collection.northEast]} </p>
          <p> SW : {[collection.southWest]}</p>
        </div>
      </div>

  <script type="text/javascript" src="js/geojson.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src = "/static/d3Charts.js"></script>
  <script src="/static/main.js"></script>
</body>
</html>
