


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
text-align: center;
margin: 0;
padding: 0;
background: black;
font-family:"Yanone Kaffeesatz";
color: white;
}

#wrapper{
  min-height:768;
  min-width:1366;
}

#map-layer{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
}

#map{
  width: 100%;
  height: 100%;
}

.dashboard-window{
  opacity: 0.85;
  min-width:200px;
  min-height:100px;
  background-color: #534292;
  z-index: 22;
  border-radius:10px;
  text-align: left;
}
.dashboard-header{
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  color:black;
  height:1em;
}
.dashboard-body{
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#position-dashboard{
  position: fixed;
  max-height:400px;
  width:200px;
  top: 10px;
  right: 10px;
}

#master-dashboard{
  position: fixed;
  width: 300px;
  height: 25%;
  bottom: 10px;
  left: 10px;
}

#visualization-dashboard{
  position:fixed;
  width: 300px;
  height: 300px;
  top: 80px;
  left: 10px;
}

#tools-dashboard{
  position: fixed;
  top: 10px;
  left: 50px;
  width: 260px;
  min-height: 52px;
  height: 52px;
  text-align:center;
}

#time-dashboard{
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 260px;
  min-height: 52px;
  font-size:18px;
  text-align:left;
  padding:4px;
}

#time-body{
  padding: 0 10px;
}

.time-picker-row{
  width:33%;
}
.time-arrow{
  display:inline-block;
  width:8px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color:white;
  padding:0px 2px 0px 0px;
  margin:0 1px;
  /*No select*/
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.u-flip{
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  padding:0px 0px 0px 2px;
}

.time-arrow:hover{
  cursor:pointer;
}

#search{
font-size: 3.0em;
background: black;
color: white;
border-width: 0px 0px 2px 0px;
outline:none;
padding:0 25 0 0;
font-family:"Yanone Kaffeesatz";
}

input[type="submit"] {
font-size: 3.0em;
color: white;
border:none;
z-index: 2;
cursor: pointer;
opacity: 0.4;
cursor: pointer;
background: black;
padding: 0px;
margin-left: -25px;
focus:none;
}

input[type="submit"]:hover{
opacity:0.8;
}

input[type="submit"]:focus{
outline:none;
color:black;
}
